/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: Rob Fletcher
 */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 20, 2011 11:23:38 AM America/New_York */

@font-face {
    font-family: 'DejaVuSansBook';
    src: url('../fonts/DejaVuSans-webfont.eot?') format('eot'),
         url('../fonts/DejaVuSans-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-webfont.svg#webfontS7fnJSPW') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansCondensed';
    src: url('../fonts/DejaVuSansCondensed-webfont.eot?') format('eot'),
         url('../fonts/DejaVuSansCondensed-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-webfont.svg#webfontVUkCP6S4') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* overall look & feel */

body {
	background-color: #000033;
	background-position: center center;
	background-image: radial-gradient(center 45deg, circle closest-corner, #6666FF 0%, #000033 100%);
	background-image: -moz-radial-gradient(#6666FF, #000033);
	background-image: -webkit-gradient(radial, center center, 0, center center, 600, from(#6666FF), to(#000033));
	visibility: hidden;
	
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.no-cssgradients body {
	background-color: #191970;
}

body.ready, .no-js body {
	visibility: visible;
}

h2 {
	font-family: 'DejaVuSansBook';
	margin-bottom: 0.5em;
}

#container {
	background: #fff url(../images/logo-bg.png) no-repeat -10% 90%;
	
     -moz-box-shadow: 0 -0.5em 0.5em #000033; 
  -webkit-box-shadow: 0 0 0.5em #000033; 
          box-shadow: 0 0 0.5em #000033; 
}

.no-boxshadow #container {
	border-color: #000033;
	border-style: solid;
	border-width: 0 0.25em;
}

.ie6 #container {
	background-image: url(../images/logo-bg.gif);
}

nav,
footer {
	color: #C1CDCD;

  background-color: #22316C;
  background-image: -moz-linear-gradient(top, #22316C, #000033); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #22316C),color-stop(1, #000033)); 
  background-image: -webkit-linear-gradient(#22316C, #000033); 
  background-image: linear-gradient(top, #22316C, #000033);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#22316C', EndColorStr='#000033'); 
}

nav a, nav a:active, nav a:visited,
footer a, footer a:active, footer a:visited {
	color: #C1CDCD;
}

nav a:hover,
footer a:hover {
	color: #F0FFFF;
}

/* layout grid */

html, body {
	height: 100%;
}

#container {
	margin: 0 auto;
	max-width: 960px;
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.ie6 #container {
	height: 100%;
	width: 960px;
}

.column-container {
	margin-bottom: 2em;
	overflow: hidden;
}

.column {
	display: inline;
	float: left;
	position: relative;
	margin: 0;
}

.column-primary {
	width: 70%;
}

.column-secondary {
	width: 30%;
}

/* header */

header {
	color: #22316C;
	margin: 2em 0 1.5em;
	padding: 0 2em;
}

header h1, header h2 {
	display: inline-block;
	line-height: 1;
    text-shadow: 2px 2px 4px #999;
}

.ie6 header h1, .ie6 header h2, .ie7 header h1, .ie7 header h2 {
	display: inline;
	zoom: 1;
}

header h1 {
	font-family: 'DejaVuSansCondensed';
	font-size: 3.5em;
	margin-right: 0.25em;
	text-transform: uppercase;
}

header h2 {
	font-family: 'DejaVuSansBook';
	font-size: 1.6em;
	line-height: 0.9;
	margin: 0;
}

.lang {
	margin-top: 0.5em;
	position: absolute;
	right: 1em;
	top: 0.25em;
}

/* navigation bar */

nav {
	margin: 0.5em 0 0;
	overflow: hidden;
	padding: 1em 2em;
	zoom: 1;
}

nav a {
	display: block;
	float: left;
	font-size: 1.2307em;
	margin-right: 1em;
	padding: 0 0.5em;
	text-decoration: none;
    text-shadow: 0 0 1em #C1CDCD; 
}

nav a:hover {
	text-shadow: 0 0 0.5em #F0FFFF; 
}

/* main body */

p {
	margin-bottom: 1em;
}

section {
	margin: 1.5em 2em 2em;
}

#services h2 {
	font-size: 2em;
}

#services ul {
	font-size: 1.2307em;
}

/* right column */
#contact {
	font-size: 1.2307em;
}

#contact h2 {
	font-size: 1.625em;
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

.ie6 #contact h2, .ie7 #contact h2 {
	clip: rect(1px 1px 1px 1px);
}

#contact .label {
	font-style: italic;
}

#contact .adr span {
	display: block;
}

/* page footer */

footer {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

footer p {
	font-size: 0.92307em;
	margin: 1em 2em;
}

#copyright {
	float: left;
}

#credit {
	float: right;
}

.ie6 footer p {
	display: inline; /* prevent float-double-margin */
}


@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-width: 960px) {
	#container {
	     -moz-box-shadow: none; 
	  -webkit-box-shadow: none; 
	          box-shadow: none; 
	}
}

@media screen and (max-width: 480px) {
	#container {
		background-position: 50% 50%;
		
	     -moz-border-radius: 0; 
	  -webkit-border-radius: 0; 
	          border-radius: 0; 

	     -moz-box-shadow: none; 
	  -webkit-box-shadow: none; 
	          box-shadow: none; 
	}
	
	header {
		padding: 0 1em;
	}
	
	header hgroup {
		margin: 0 auto;
	}
	
	.column-container {
		margin-bottom: 0;
	}
	
	#main {
		margin-bottom: 0;
	}
  
	.column {
		float: none;
		width: auto;
	}
	
	section {
		margin: 2em 1em;
	}
	
	#sidebar {
		margin-top: 0;
	     -moz-border-radius: 0; 
	  -webkit-border-radius: 0; 
	          border-radius: 0; 
	}
	
	#contact h2 {
		position: static;
		clip: none;
	}
	
	footer {
		position: static;
	}
	
	#copyright, #credit {
		float: none;
	}
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

